<!DOCTYPE html>
<html lang="en">
<head>
    <!--        TODO Bootstrap на Ваш выбор -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>
<body>


<div class="container">
    <div id="content" class="snippet-hidden">

<!--        TODO Ваш код здесь!!!-->

    </div>
</div>

<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>

</body>
</html>