<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Участники</title>

</head>
<body>
<div class="container">
    <h2>Участники</h2>
    <br>
    <div class="nav nav-tabs">
        <form class="form-inline col px-md-2">
            <input class="form-control text-truncate" type="Search" placeholder="Фильтрация по участнику">
        </form>
        <li class="nav-item p-2 border bg-white">
            <a class="text-secondary" href="#">Репутация</a>
        </li>
        <li class="nav-item p-2 border bg-white">
            <a class="text-secondary" href="#">Новые участники</a>
        </li>
        <li class="nav-item p-2 border bg-white">
            <a class="text-secondary" href="#">Голосующие</a>
        </li>
        <li class="nav-item p-2 border bg-white">
            <a class="text-secondary" href="#">Редакторы</a>
        </li>
        <li class="nav-item p-2 border bg-white">
            <a class="text-secondary" href="#">Модераторы</a>
        </li>
    </div>
    <div class="flex-item">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#"><small>за неделю</small></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#"><small>за месяц</small></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#"><small>квартал</small></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#"><small>год</small></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" href="#"><small>все</small></a>
            </li>
        </ul>
    </div>
    <div id="user-browser" class="container">
<!--        сетка для пользователей-->
        <div class="row">
<!--            пользователь-->
            <div class="col-2 user-info user-hover">
                <div class="user-avatar">
                    <a href="user_avatar">
                        <img class="img-fluid" src="https://i.stack.imgur.com/pmfCN.jpg?s=128&g=1"  width="60" height="60" alt="avatar.jpg"></a>
                </div>
                <div class="user-details">
                    <a href="user_profile">Nickname</a>
                    <span class="user-location">Location</span>
                    <div class="-flair">
                        <span class="reputation-score" title="репутация за год">Reputation</span>
                    </div>
                </div>
                <div class="user-tags">
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                </div>
            </div>
            <div class="col-2 user-info user-hover">
                <div class="user-avatar">
                    <a href="user_avatar">
                        <img class="img-fluid" src="https://i.stack.imgur.com/pmfCN.jpg?s=128&g=1"  width="60" height="60" alt="avatar.jpg"></a>
                </div>
                <div class="user-details">
                    <a href="user_profile">Nickname</a>
                    <span class="user-location">Location</span>
                    <div class="-flair">
                        <span class="reputation-score" title="репутация за год">Reputation</span>
                    </div>
                </div>
                <div class="user-tags">
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                </div>
            </div>
            <div class="col-2 user-info user-hover">
                <div class="user-avatar">
                    <a href="user_avatar">
                        <img class="img-fluid" src="https://i.stack.imgur.com/pmfCN.jpg?s=128&g=1"  width="60" height="60" alt="avatar.jpg"></a>
                </div>
                <div class="user-details">
                    <a href="user_profile">Nickname</a>
                    <span class="user-location">Location</span>
                    <div class="-flair">
                        <span class="reputation-score" title="репутация за год">Reputation</span>
                    </div>
                </div>
                <div class="user-tags">
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                </div>
            </div>
            <div class="col-2 user-info user-hover">
                <div class="user-avatar">
                    <a href="user_avatar">
                        <img class="img-fluid" src="https://i.stack.imgur.com/pmfCN.jpg?s=128&g=1"  width="60" height="60" alt="avatar.jpg"></a>
                </div>
                <div class="user-details">
                    <a href="user_profile">Nickname</a>
                    <span class="user-location">Location</span>
                    <div class="-flair">
                        <span class="reputation-score" title="репутация за год">Reputation</span>
                    </div>
                </div>
                <div class="user-tags">
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                </div>
            </div>
            <div class="col-2 user-info user-hover">
                <div class="user-avatar">
                    <a href="user_avatar">
                        <img class="img-fluid" src="https://i.stack.imgur.com/pmfCN.jpg?s=128&g=1"  width="60" height="60" alt="avatar.jpg"></a>
                </div>
                <div class="user-details">
                    <a href="user_profile">Nickname</a>
                    <span class="user-location">Location</span>
                    <div class="-flair">
                        <span class="reputation-score" title="репутация за год">Reputation</span>
                    </div>
                </div>
                <div class="user-tags">
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                    <a href="user_tags">tag</a>
                </div>
            </div>

        </div>
        <!--        сетка для пользователей-->

    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end pagination-sm">
        <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">4</a></li>
        <li class="page-item"><a class="page-link text-dark" href="#">5</a></li>
        <div class="s-pagination px-3">...</div>
        <li class="page-item">
            <a class="page-link text-dark" href="#">Далее</a>
        </li>
    </ul>
</nav>


<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>


</body>
</html>